<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<% include ./header %>
<body>
    <%- messages('message', locals) %>
<div class="container">

  <h2>Add Song To Playlist</h2>
 <!-- POST request -->
  <form method="POST" action="/songs/add">
    <div class="form-group">
      <label>Title:</label>
      <input type="text" class="form-control" id="email" placeholder="Title..." name="title" required>
    </div>
    <div class="form-group">
      <label for="pwd">Artist:</label>
      <input type="text" class="form-control" id="pwd" placeholder="Artist..." name="artist" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<% include ./footer %>
</body>
</html>
